@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}

html {
    background-color: #212121;
}
#logo img {
    width: 200px;
    height: 200px;
    line-height: 60px;
    position: absolute;
}
.menu ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu ul li {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu ul li a {
color:rgb(185, 9, 185) ;
padding: 20px;
text-decoration: none;
}
.title {
    color:rgb(185, 9, 185);
    text-align: center;
    text-shadow: #555454 2px 2px 2px;
    font-size: 50px;
}
section.home p{
    text-align: center;
}
#title{
    color:rgb(185, 9, 185);
text-align: center;
padding-top: 50px;
text-align: center;
font-size: 60px;
}
p{
    color: white;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 20px;
    padding: 10px;
} 
.container{
    width: 75%;
    text-align: center;
    margin: auto;
}
